<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/flights/flights.css" />
<%- include('../partials/nav') %>

<h1>View flight on <%= flight.airline %> Airlines leaving <% flight.airport %> on <%= flight.departs %></h1>
  <form action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input" value="<%= flight.airline %>">
    <select name="airport" id="airport-select">
      <option value="<%= flight.airport %>"><%= flight.airport %></option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input" value="<%= flight.flightNo %>">
    <label for="departs-input">Departure:</label>
    <input type="text" name="departs" id="departs-input" value="<%= flight.departs %>">
    <button type="submit">Save Changes</button>
  </form>

<%- include('../partials/footer') %>