<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/nav') %>
  <h1>View flight on <%= flight.airline %> Airlines leaving <% flight.airport %> on <%= flight.departs %></h1>
  <form action="/flights?_method=PUT" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input" value="<%= flight.airline %>">
    <label for="airport-input">Airport:</label>
    <input type="text" name="airport" id="airport-input" value="<%= flight.airport %>">
    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input" value="<%= flight.flightNo %>">
    <label for="departs-input">Departure:</label>
    <input type="text" name="departs" id="departs-input" value="<%= flight.departs %>">
    <button type="submit">Submit</button>
</body>
</html>