<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/flights.css" />
<%- include('../partials/nav') %>

<main>
  <h1>You have a flight with <%= flight.airline %> Airlines leaving <% flight.airport %> on <%= flight.departs %></h1>
  <h2>Ticket Information</h2>

  <table>
    <thead>
      <th>Seat</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.seat %></td>
          <td>$<%= ticket.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <h3>Add A Ticket:</h3>
  
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-area">Seat</label>
    <input name="seat" required pattern="[A-F][1-9]\d?" id="seat-area" autocomplete="off">
    <label for="price-area">Price</label>
    <input type="number" name="price" id="price-area">
    <button type="submit">Save Ticket</button>
  </form>
  
  

  <form action="/flights/<%= flight._id %>/edit" method="GET">
    <button type="submit">Edit flight information here</button>
  </form>

</main>

<%- include('../partials/footer') %>